<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #333333">
                            Tài Khoản
                            <i class="fa-regular fa-user" style="color: #333333"></i>

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                            <li>
                                <a class="dropdown-item" href="/author-switch">
                                    Đăng xuất <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <style>
        .navbar {
            background-color: #bcf8e7;
            margin-left: 230px;
        }

    </style>
</div>
