<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDPM</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        /* Các style tùy chỉnh có thể được đặt ở đây */
    </style>
</head>
<body>
<div th:replace="fragment/sidebar :: sidebar"></div>
<div th:replace="fragment/navbar :: navbar"></div>

<div class="content" style="margin-left: 220px; padding: 20px;">
    <h1>Trang giảm giá</h1>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
